<div class="mainDiv">
    <header>
        <h1>Musicnator</h1>
    </header>

    <main>
        <h2>Pregunta {{id}}</h2>
        <h2>¿Su instrumento {{pregunta}}?</h2>
        <form action="process" method="GET">
            <button value="true" name="response">Si</button>
            <button value="false" name="response">No</button>
        </form>
    </main>
</div>