<div class="mainDiv">
    <header>
        <h1>Musicnator</h1>
    </header>

    <main>
        <h2>Pregunta {{id}}</h2>
        <h2>¿Es este tu instrumento?</h2>
        <h3>{{instrumento}}</h3>
        <form action="fin" method="GET">
            <button>Si</button>
        </form>
        <br>
        <form action="registro" method="GET">
            <button>No</button>
        </form>
    </main>
</div>
