<div class="mainDiv">
    <header>
        <h1>Musicnator</h1>
    </header>

    <main>
        <h2>¡Te he leído el pensamiento!</h2>
        <h3>Pulsa el botón para tratar de vencerme de nuevo</h3>
        <form action="/" method="GET">
            <button>Jugar de nuevo</button>
        </form>
    </main>
</div>