<div class="mainDiv">
    <header>
        <h1>Musicnator</h1>
    </header>

    <main>
        <h2>Bienvenido músico, piensa en un instrumento.</h2>
        <form action="tipoInstrumento" method="GET">
            <button value="true" name="inicio">¡Listo!</button>
        </form>
    </main>
</div>