<div class="mainDiv">
    <header>
        <h1>Musicnator</h1>
    </header>

    <main>
        <h2>Pregunta {{id}}</h2>
        <h2>{{pregunta}}</h2>
        <form action="process" method="GET">
            <select name="tipoInstrumento">
                <option value="cuerda">Cuerda</option>
                <option value="percusión">Percusion</option>
                <option value="viento">Viento</option>
            </select>
            <button>¡Los mejores!</button>
        </form>
    </main>
</div>